@model PadelictWebSite.Models.registos
@{
    ViewBag.Title = "registaratleta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atleta</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<style>
    body {
        background-image: url(../Images/fundo_preto.png);
        min-height: 100vh;
        position: relative;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .form {
        background-color: transparent;
        backdrop-filter: blur(5px);
        padding: 56px;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    input[type="text"] {
        margin-top: 5px;
    }

    input[type="email"] {
        margin-top: 5px;
    }

    label {
        color: #927614;
    }

    .text {
        color: #927614;
        margin-left: 23px;
        text-decoration: none;
    }

        .text:hover {
            color: #927614;
        }
       
        .label-name{
            align-items: center;
            text-align: start;
        }
    .ddd {
        color: red;
        font-size: 16px;
    }
    .form-control{
        margin-top: 3px;
    }

</style>
<body>
   

        
            <div class="container">
                <div class="form">
                    <a href="~/Home/Index">
                        <div style="display: inline-block; position: relative;">
                            <div style="position: absolute; top: 50%; left: 0;">
                                <span style="transform: translateY(-50%); display: inline-block; width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-right: 30px solid #927614;"></span>
                            </div>


                        </div>
                    </a>
                    <div class="mb-3 text-center">
                        <img src="~/Images/logo_branco.png" />
                    </div>




                    @using (Html.BeginForm("registaratleta", "Registos", FormMethod.Post, new
                    { enctype = "multipart/form-data", style = "margin-top:5%" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationMessage("", new { @class = "ddd" })

                        

                        <div class="text-center fw-bold display-6" style="color: #927614;">Registo dos dados do Atleta</div>
                        <div class="row mt-2">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-name ">E-mail</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="label-name ">Password</label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "Password" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "ddd" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="label-name ">Confirmar Password</label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "Password" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="label-name ">Nome</label>
                                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Nome, null, new { @class = "ddd" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="label-name ">Apelido</label>
                                    @Html.TextBoxFor(model => model.Apelido, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Apelido, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="label-name ">Localidade</label>
                                    @Html.DropDownListFor(model => model.Localidade, (SelectList)ViewBag.ConcelhosList, "Selecione a sua localidade", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Localidade, null, new { @class = "ddd" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Contacto</label>
                                    @Html.TextBoxFor(model => model.Contacto, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Contacto, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Data de Nascimento</label>
                                    @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control", @type="date"})
                                </div>
                                @Html.ValidationMessageFor(model => model.DataNascimento, null, new { @class = "ddd" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Altura</label>
                                    @Html.DropDownListFor(model => model.Altura, (SelectList)ViewBag.Altura, "Selecione a sua altura", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Altura, null, new { @class = "ddd" })
                            </div>

                            <div class="col-md-6 mb-2">
                                <div class="form-group">

                                    <label class="label-name ">Peso</label>
                                    @Html.DropDownListFor(model => model.Peso, (SelectList)ViewBag.Peso, "Selecione o seu peso", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Peso, null, new { @class = "ddd" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="form-group">
                                    <label class="label-name ">Lado Preferêncial</label>
                                    @Html.DropDownListFor(model => model.LadoPref, (SelectList)ViewBag.Direcoes, "Selecione o seu lado preferido", new { @class = "form-control" })
                                </div>

                                @Html.ValidationMessageFor(model => model.LadoPref, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Mão Preferêncial</label>
                                    @Html.DropDownListFor(model => model.MaoPref, (SelectList)ViewBag.Direcoes, "Selecione a sua mão preferida", new { @class = "form-control" })


                                </div>
                                @Html.ValidationMessageFor(model => model.MaoPref, null, new { @class = "ddd" })
                            </div>

                        </div>



                        <div class="row">



                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Top Pancada</label>
                                    @Html.DropDownListFor(model => model.TopPancada, (SelectList)ViewBag.Pancadas, "Selecione a sua pancada preferida", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.TopPancada, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Tipo de Jogo</label>
                                    @Html.DropDownListFor(model => model.TipoJogo, (SelectList)ViewBag.Tipojogo,  "Selecione o tipo de jogo", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.TipoJogo, null, new { @class = "ddd" })
                            </div>


                        </div>

                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Raquete</label>
                                    @Html.DropDownListFor(model => model.Raquete, (SelectList)ViewBag.Raquetes1, "Raquete que costuma utilizar", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Raquete, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Experência</label>
                                    @Html.TextBoxFor(model => model.Experiencia, new { @class = "form-control", @type="date"})
                                </div>
                                @Html.ValidationMessageFor(model => model.Experiencia, null, new { @class = "ddd" })
                            </div>

                        </div>
                        <div class="row">



                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Frequência</label>
                                    @Html.DropDownListFor(model => model.Frequencia, (SelectList)ViewBag.Frequencia1, "Com que frequência costuma pratica o Padel", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Frequencia, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Zona de Ação</label>
                                    @Html.DropDownListFor(model => model.ZonaAcao, (SelectList)ViewBag.ConcelhosList, "Selecione a sua zona de ação", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ZonaAcao, null, new { @class = "ddd" })
                            </div>



                        </div>
                        <div class="row">



                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Clube Preferêncial</label>
                                    @Html.TextBoxFor(model => model.ClubePref, new { @class = "form-control" })


                                </div>
                                @Html.ValidationMessageFor(model => model.ClubePref, null, new { @class = "ddd" })
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-2">
                                    <label class="label-name ">Dia Preferêncial</label>
                                    @Html.DropDownListFor(model => model.DiaPref, (SelectList)ViewBag.DiaSemana, "Selecione o dia da semana que prefere jogar",  new { @class = "form-control" })
                                </div>

                                @Html.ValidationMessageFor(model => model.DiaPref, null, new { @class = "ddd" })
                            </div>

                            <div class="col-md-3">
                                <label class="label-name ">Hora Preferêncial</label>
                                @Html.TextBoxFor(model => model.HoraPref, new { @class = "form-control", @type = "time" })

                            </div>
                            @Html.ValidationMessageFor(model => model.HoraPref, null, new { @class = "ddd" })
                        </div>



                        <div class="mb-4 mx-5 mt-5">
                            <button class="btn  btn-lg text-center w-100 text-light" style="background-color: #927614; border-radius:50px;">Confirmar Registo</button>

                        </div>













                    }
                </div>
        </div>



</body>
</html>


